<form [formGroup]="editForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()" id="form-login">
  <div id="user-edit">

    <div class="row m-0 mb-3">
      <div class="col-12 m-0 p-0">
        <h1>Cadastrar Usuário</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group row">
          <div class="col-12">
            <label for="name">Nome</label>
            <span class="validationRequired"> *</span>
            <input matInput type="text" class="form-control" formControlName="name" name="name" id="name"
              placeholder="Digite o nome">
            <app-error-message [control]="editForm.get('name')"></app-error-message>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group row">
          <label class="col-12">Cargo:<span class="validationRequired"> *</span></label>
          <div class="col-12">
            <ng-select [items]="roles" bindLabel="name" formControlName="role" placeholder="Selecione o cargo"></ng-select>
            <app-error-message [control]="editForm.get('role')"></app-error-message>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group row">
          <div class="col-12">
            <label for="email">Email</label>
            <span class="validationRequired"> *</span>
            <input matInput type="email" class="form-control" formControlName="email" name="email" id="email"
              placeholder="Digite o Email">
            <app-error-message [control]="editForm.get('email')"></app-error-message>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-3">
        <div class="form-group row">
          <div class="col-12">
            <label for="password">Senha</label>
            <span class="validationRequired"> *</span>
            <input matInput type="text" class="form-control" formControlName="newPassword" name="password" id="password" (change)="revalidPasswordConfirm()"
              placeholder="Digite a Senha">
            <app-error-message [control]="editForm.get('newPassword')"></app-error-message>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group row">
          <div class="col-12">
            <label for="passwordConfirm">Confirmação de Senha</label>
            <span class="validationRequired"> *</span>
            <input matInput type="text" class="form-control" formControlName="passwordConfirm" name="passwordConfirm" id="passwordConfirm"
              placeholder="Insira a senha novamente">
            <app-error-message [control]="editForm.get('passwordConfirm')"></app-error-message>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group row">
          <div class="col-12">
            <label for="cpf">CPF</label>
            <span class="validationRequired"> *</span>
            <input matInput type="cpf" class="form-control" formControlName="cpf" name="cpf" id="cpf"
              placeholder="Digite o CPF">
            <app-error-message [control]="editForm.get('cpf')"></app-error-message>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="form-group row">
          <div class="col-12">
            <label for="phone">Telefone</label>
            <input matInput type="phone" class="form-control" formControlName="phone" name="phone" id="phone"
              placeholder="Digite o Telefone" (change)="updateValidateFieldPhone()">
            <app-error-message [control]="editForm.get('phone')"></app-error-message>
          </div>
        </div>
      </div>
    </div>



    <div id="btns-action" class="text-right m-1">
      <button type="button" id="btn-back" (click)="goToList()" class="btn btn-lg btn-primary">Voltar</button>
      <button type="submit" id="btn-new-user" class="btn btn-lg btn-primary ml-4"
      [disabled]="!editForm.valid">Cadastrar</button>
    </div>
  </div>
</form>
