#user-edit{
  background-color: #ffffff;
  height: 45%;
  width: 60vw;
}
#btn-new-user{
  background-color: #3f51b5;
  border: none;
  border: 3px solid #3f51b5;
}
#btn-back{
  background-color: #ffffff;
  border: 3px solid #3f51b5;
  color: #3f51b5;
}
@media only screen and (max-width: 576px) {
  #user-edit{
    background-color: #ffffff;
    height: 70vh;
    width: 60vw;
    margin: 0;
    padding: 0;
  }
  h1{
    font-size: 1.5em;
  }
  #btn-new-user{
    background-color: #3f51b5;
    border: none;
    border: 3px solid #3f51b5;
    width: 46%;
    height: 20%;
    padding: 4%;
    font-size: 1.1em;

  }
  #btn-back{
    background-color: #ffffff;
    border: 3px solid #3f51b5;
    color: #3f51b5;
    width: 40%;
    height: 20%;
    padding: 4%;
    font-size: 1.1em;
  }
  #btns-action{
    text-align: center;
    padding-bottom: 15%;
  }
}
