<div id="user-list">
  <div class="mb-4">
    <div class="row m-0 p-0 justify-content-between">
      <div class="col-6 m-0 p-0">
        <h1>Lista de Usuários</h1>
      </div>
      <div class="col-6 m-0 p-0 text-right">
        <button type="button" id="btn-new-user" mat-raised-button (click)="createUser()"
            class="btn btn-lg btn-primary">Novo Usuário
        </button>
      </div>
    </div>
  </div>
  <app-search [url]="url" [fields]="fields" (changeResult)="filterList($event)"></app-search>
    <div id="main-table">
      <div id="div-table" class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">CPF</th>
              <th scope="col">Cargo</th>
              <th scope="col">Email</th>
              <th scope="col">Telefone</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let user of users">
              <td id="name">{{user.name}}</td>
              <td>{{user.cpf | mask: '000.000.000-00'}}</td>
              <td>{{user.role.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone | mask: '(00) 0000-0000||(00) 0 0000-0000'}}</td>
              <td id="actions">
                <span class="material-icons" (click) = "openViewDialog(user.id)">remove_red_eye</span>
                <span class="material-icons" (click)="editUser(user.id)">create</span>
                <span class="material-icons" (click)="openDeleteDialog(user.id)">delete</span>
              </td>
            </tr>

          </tbody>

        </table>



      </div>
      <div class="mt-4">
        <div class="row m-0 p-0 l-0 justify-content-end">
          <div class="col-6 m-0 p-0 text-right"><button type="button" id="btn-new-back" (click)="goToHome()"
              class="btn btn-lg btn-primary">Voltar</button></div>
        </div>
      </div>
    </div>
  </div>

