#user-list{
  margin: 0 auto;
  margin-top: 3%;
  width: 70%;
}
#div-table{
  max-height: 300px;
  overflow-y: auto;
}
table{
  background-color: #FFFFFF;
  border-radius: 10px;
}
#btn-new-user{
  background-color: #3f51b5;
  border: none;
}
#btn-new-back{
  background-color: #e7e7e7;
  border: 3px solid #3f51b5;
  color: #3f51b5;
}
#name{
  width: 550px;
}
#actions{
  width: 100px;
}
.material-icons{
  cursor: pointer;
}
input, select{
  border: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 3px;
  background-color: rgba(216, 216, 216, 0.897);
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical:hover {
  background-color:#cccccc;
}
