#delete-card{
  background-color: #FFFFFF;
  height: 45%;
  width: 20vw;
  text-align: center;
}
#btn-cancel{
  background-color: #787878;
  border: none;
  width: 100%;
  margin-right: 5%;
  margin-left: 5%;
}
#btn-del{
  background-color: #3f51b5;
  border: none;
  width: 100%;
  margin-right: 5%;
  margin-left: 5%;
}

.flex{
  display: flex;
  flex-direction: row;
  padding: 2%;
  align-content: center;
  justify-content: center;
}

@media only screen and (max-width: 576px) {
  #delete-card {
    background-color: #ffffff;
    height: 25%;
    width: 60vw;
  }
}

