#home{
  width: 100%;
  padding: 100px;
}
.row{
  margin: 0;
  padding: 0px;
}
.col-6, .col-12{
  margin: 0px;
  padding: 0px;
}
#addProdut{
  width: 100%;
  height: 450px;
}
#tools{
  width: 100%;
  height: 450px;
}
#listSale{
  width: 100%;
  height: 900px;
}
.material-icons{
  font-size: 7em;
  cursor: pointer;
  color: #3f51b5;
}
