<form [formGroup]="editForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()" id="form-login">
  <div id="user-edit">
    <div class="row m-0 mb-3">
      <div class="col-12 m-0 p-0">
        <h1>{{label}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12">
        <label for="name">Nome</label>
        <span class="validationRequired"> *</span>
        <input matInput type="text" class="form-control" formControlName="name" name="name" id="name"
          placeholder="Digite o nome">

        <app-error-message [control]="editForm.get('name')"></app-error-message>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12">
        <label for="description">Descrição</label>
        <span class="validationRequired"> *</span>

        <textarea id="story" name="story" rows="5" cols="33" class="form-control" formControlName="description"
          name="description" id="description" placeholder="Digite uma descrição">
       </textarea>
        <app-error-message [control]="editForm.get('description')"></app-error-message>
      </div>
    </div>




    <div id="btns-action" class="text-right m-1">
      <button type="button" id="btn-back" (click)="goToList()" class="btn btn-lg btn-primary">Voltar</button>
      <button type="submit" id="btn-new-user" class="btn btn-lg btn-primary ml-4"
        [disabled]="!editForm.valid">{{labelBtnSubmit}}</button>
    </div>
  </div>
</form>
